In [0]:
from random import randint
import numpy as np
import statsmodels.api as sm
import pandas as pd
import datetime

In [0]:
df = pd.read_csv("covid19_whole.csv",header=0, index_col=0)
af = df.iloc[:,1:]

In [91]:
af.head()

   Confirmed  Recovered    Deaths  ...      MA-3      MA-4      MA-5
1   0.335388   0.134921  0.285714  ... -0.013089 -0.002800  0.001949
2   0.205611   0.552448  0.245614  ...  0.009125 -0.012616 -0.002996
3   1.002720   1.806306  0.215962  ...  0.002974  0.009597 -0.012812
4   0.201750   0.367576  0.397683  ...  0.006920  0.003446  0.009401
5   0.156663   0.319249  0.176796  ... -0.018339  0.007392  0.003250

[5 rows x 13 columns]

In [0]:
from itertools import combinations

index_combination = []

for j in range(1, 13):
    comb = combinations(range(13), j)
    for i in list(comb):
      index_combination.append(i) 


# Print the obtained combinations

In [93]:
len(index_combination)

8190

In [0]:
fitness = []

In [0]:
index = index_combination[0]
#print(np.array(index))
a = af.iloc[0:(34+0),np.array(index)]
print(a)

In [0]:
begin_time = datetime.datetime.now()

for j in range(len(index_combination)):
    error = 0
    index = index_combination[j]
    print(index)
    for i in range(20):
        a = af.iloc[i:(34+i),np.array(index)] 
        b = df['Return'][i:(34+i)]

        model = sm.OLS(b, a).fit()
        AIC = model.aic 
        error = error + AIC 
    fitness.append(error)
    
print(datetime.datetime.now() - begin_time)

In [83]:
#ind = fitness.index(min(fitness))
fitness[20] #-2217.8426593857657
fitness[ind]  # -2248.4261077751635

-2248.4261077751635

In [88]:
fitness.sort()

fitness.index(-2217.8426593857657)

68

In [12]:
# calucluate the fitness
def calculate_fitness(pop_array):
    size = 50
    error = 0
    fitness = []
    for i in range(size): # 50 is the size of population
        index = []
        error = 0
        for j in range(13): # 14 is the size of gene length
            if(pop_array[i][j] == 1):
              index.append(j)

        print((index))
        for i in range(20):
            a = af.iloc[i:(34+i),index] 
            b = df['Return'][i:(34+i)]

            model = sm.OLS(b, a).fit()
            AIC = model.aic
         # print(AIC)  
            error = error + AIC 
        fitness.append(error) 
    return np.array(fitness)

fitness_arr = calculate_fitness(pop_array)
fitness_arr

[0, 6, 8, 9, 10, 11, 12]
[0, 0, 1, 3, 5, 7, 9, 10, 12]
[0, 1, 3, 5, 8]
[0, 1, 3, 5, 7, 8, 9, 12]
[0, 0, 1, 4, 5, 6, 8, 9, 11, 12]
[0, 0, 1, 2, 4, 6, 7, 10, 11]
[0, 0, 4, 9, 10, 11]
[0, 1, 2, 3, 5, 6, 8, 9, 10, 11]
[0, 2, 5, 7, 8, 10, 11]
[0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 12]
[0, 3, 4, 5, 6, 8, 10, 11, 12]
[0, 0, 3, 4, 6, 10, 11, 12]
[0, 0, 2, 3, 4, 5, 6, 7, 9, 12]
[0, 0, 1, 2, 7, 8, 10]
[0, 2, 4, 5, 6, 10, 11]
[0, 0, 1, 2, 6, 7, 9, 10, 11, 12]
[0, 0, 1, 3, 7, 8, 12]
[0, 0, 2, 3, 4, 7, 8, 10]
[0, 1, 2, 4, 5, 10, 11, 12]
[0, 0, 3, 7, 9, 10, 11, 12]
[0, 0, 1, 3, 8, 9]
[0, 0, 1, 4, 5, 8, 10, 11]
[0, 1, 2, 7]
[0, 0, 3, 6, 8, 9, 10, 11]
[0, 0, 1, 2, 5, 6, 8]
[0, 0, 2, 4, 8, 9, 10, 11, 12]
[0, 1, 2, 5, 7, 9, 11, 12]
[0, 6, 9, 10]
[0, 7, 8, 10, 12]
[0, 7, 8, 10, 12]
[0, 1, 2, 3, 4, 5, 6, 8, 10]
[0, 1, 2, 5, 9]
[0, 1, 4, 6, 7, 10, 12]
[0, 1, 2, 3, 5, 6, 9, 11, 12]
[0, 0, 2, 5, 8, 10, 12]
[0, 2, 4, 5, 9, 10, 11, 12]
[0, 0, 1, 3, 4, 6, 7, 8, 10, 12]
[0, 0, 2, 5, 8, 9, 11, 12]
[0, 2, 4, 9, 10, 11]
[0, 3, 4, 5, 8, 9, 12]
[0, 1, 2, 4, 6, 9, 10, 11, 12]
[0, 0, 3, 6, 7, 11, 12]
[0, 0, 6, 7, 8, 11]
[0, 0, 2, 3, 4, 7, 8, 9, 11, 12]
[0, 0, 1, 3, 7, 9]
[0, 0, 2, 9, 10, 12]
[0, 0, 1, 3, 9, 10, 11, 12]
[0, 1, 2, 4, 6, 10, 11]
[0, 0, 2, 4, 7, 8, 11]
[0, 0, 2, 3, 5, 6, 8, 9, 10, 12]

array([-2127.31569045, -2115.52732318, -2159.14604826, -2115.52732318,
       -2097.89418594, -1988.69451248, -2092.89545199, -2102.87338774,
       -2086.87720009, -2063.77438995, -2127.31569045, -2127.31569045,
       -2089.0553717 , -2097.25715608, -2054.37141626, -1988.69451248,
       -2152.28048802, -2111.52082852, -1988.69451248, -2127.31569045,
       -2157.49708534, -2136.96354079, -2011.17399937, -2165.68434793,
       -2104.32051902, -2089.0553717 , -1988.69451248, -2119.01049361,
       -2154.20861684, -2154.20861684, -2102.87338774, -2057.39581545,
       -2026.26372575, -2063.77438995, -2116.82065915, -2019.52910365,
       -2097.89418594, -2109.67848605, -2054.37141626, -2149.66545315,
       -1988.69451248, -2148.9331814 , -2148.9331814 , -2106.61324329,
       -2133.6465024 , -2068.56695995, -2101.56119522, -2024.76220388,
       -2117.34407612, -2089.0553717 ])